* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.roboto-light {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

.roboto-medium {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
	background-color: #292929;
	padding: 0;
	margin: 0;
}

.heading {
	color: white;
	text-align: center;
	padding: 90px;
}

.title {
	color: white;
	text-align: center;
	padding: 30px;
	font-size: 30px;
}

.text1 {
	height: 400px
}

.bilalimg {
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -225px;
	left: -300px;
}

h1 {
	font-size: 65px;
	margin: 0;
}

h2 {
	margin: 0;
}

.aboutme {
	font-size: 20px;
	text-align: justify;
	margin: 50px auto;
	max-width: 500px;
	box-sizing: border-box;
	position: relative;
	right: -250px;
	bottom: -30px;
	color: white;
}

.summit {
	display: inline-block;
	color: white;
	width: 350px;
	border: 3px #6a0dad solid;
	border-radius: 5%;
	padding: 10px;
	padding-bottom: 0px;
	position: relative;
	right: -20%;
	text-align: center;
	margin: 0;
}


.offbook {
	display: inline-block;
	color: white;
	width: 350px;
	min-height: 370px;
	border: 3px #6a0dad solid;
	border-radius: 5%;
	padding: 10px;
	padding-bottom: 0px;
	position: relative;
	right: -30%;
	top: -210px;
	text-align: center;
	margin: 0;
}

h3 {
	font-size: 30px;
	margin: 0;
}

h4 {
	font-size: 15px;
	margin: 0;
	margin-bottom: 10px;
}

.summitimg {
	width: 30%;
	margin: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	text-align: center;
	padding: 15px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

/* Style the links inside the navigation bar */
.topnav a {
	color: white;
	padding: 16px;
	text-decoration: none;
	font-size: 17px;
	z-index: 11;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #3a3a3a;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #6a0dad;
}